.App {
  font-family: sans-serif;
  text-align: center;
}

.goog-logo-link {
  display: none !important;
}

.goog-te-gadget {
  color: transparent !important;
}

.input-text {
  width: 95vw;
  height: 200px;
}
